.App {
  text-align: center;
  background-color: #2b2520;
  text-Decoration: 'none';
}
.links{
  color: black;
  text-Decoration: 'none';
}
.links:hover{
  background:'#ff96ad';
  background-color: white;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 200px white;
  transition-duration: 1500ms;
  padding: 8px 13px;
  text-align: center;
  text-Decoration: 'none';
  color: black;
  border-radius: 4px;
}
